body { 
    font-family: 'Mulish', sans-serif;
    margin-top: 45px;
    margin-left: 175px;
    max-width: 1650px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #000000;
}

.header { 
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
} 

.logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo__img {
    display: block;
    width: 31px;
    height: 47px;
    margin-right: 12px;
    background-image: url(img/Slider/Vector.svg);
}

.nav__link {
    font-weight: 700;
    font-size: 15px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
    text-transform: uppercase;
    align-items: center;
    width: 391px;
    line-height: 19px;
}

.banner {
    height: 800px;
    width: 100%;
    background-image: url(img/Slider/Group_83.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}

.title {
    font-size: 60px;
    color: #000000;
    font-weight: 900;
    margin-top: 250px;
    
}

.banner__subTitle {
    color: #9B9B9B;
    font-weight: 700;
    font-size: 18px;
    margin-top: 50px;
}

.button {
    padding: 15.5px 30px;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    width: 209px;
    height: 53px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
}

.button_grey {
    background-color: #414141;
    margin-top: 50px;
    margin-bottom: 120px;
}

.button_grey:hover {
    background-color: #FDAE54;
    color: #ffffff;
}

/* .button_yellow {

} */

.features {
    width: 100%;
    height: 450px;
}
.features__body {
    
}

.features__row {
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 225px;
}

.features__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features__column_center {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 265px;
}

.column {
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 300px;
}

/* .about__item {
} */

.features__icon_left {
    width: 50px;
    height: 60px;
}

.features__icon_center {
    width: 55px;
    height: 53px;
}

.features__icon_right {
    width: 66px;
    height: 66px;
}

/* .icon {
}
.features__subtitle {
} */
.subtitle {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}
.features__text {
    color: #818181;
    font-weight: normal;
    font-size: 13px;
}

.buttonArrow_right {
    background: transparent;
    width: 209px;
    height: 53px;
    border: 0;
    cursor: pointer;
}

.features__battonArrow_right {

}

.servises {
    background-image: url(img/servises/1.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left bottom;
    height: 520px;
}

.servises__inner {
    display: flex;
    flex-direction: column;
}

.inner {
    /* width: 600px; */
}
.titleh2 {
    font-weight: 800;
    font-size: 40px;
    color: #000000;
}

.inner__titleh2 {
    width: 600px;
    margin-left: 700px;
    margin-top: 126px;
}

.inner__columnList {
    margin-left: 700px;
    width: 600px;

}
.columnList {
    display: flex;
    flex-wrap: wrap;

}
.columnList__item {
    font-weight: bold;
    font-size: 28px;
    padding-right: 30px;
    padding-left: 0;
    padding-bottom: 60px;
    width: 230px;
}
.columnList__text {
    text-decoration: none;
    color: #4E4E4E;
}